body {
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
}

.parrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*------------------Header------------------*/

header {
    display: flex;
    background-color: rgb(63, 238, 130);
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 1.1em;
}

header nav ul li a{
    color: rgb(255, 255, 255);
}

/*---------------Greeting---------------*/
.greeting {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
}

/*---------------Acerca de mi---------------*/

.seccion-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 5em 1em 5em;
}

.acerca-de-mi {
    text-align: right;
    width: 25em;
}

.imagen-acerca-de-mi img {
    display: block;
    max-width: 12em;
}

/*------------------Grill------------------*/

.grill-acerca-de-mi img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*-----------------Trabajos-----------------*/

.seccion-2 {
    padding-top: 2em;
}

#title-trabajos {
    display: block;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.trabajos-cards {
    display: block;
    justify-content: center;
    max-width: 15em;
}

.trabajos-cards img {
    width: 15em;
    height: 15em;
    border-radius: 1em;
}

/*-----------------Servicios-----------------*/

.seccion-3 {
    padding-top: 2em;
  }

#title-servicios {
    display: block;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.servicios-cards {
    display: block;
    justify-content: center;
    max-width: 15em;
}

.servicios-cards img {
    width: 15em;
    height: 15em;
    border-radius: 1em;
}

/*--------------------Contacto--------------------*/
/* ------------- CSS General ------------- */
* .seccion-4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }  

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }

/*-----------------Redes Sociales-----------------*/

.seccion-5 {
    background-color: rgb(63, 238, 130);
    width: 100%;
}

.redes {
    display: block;
}

#inicio-icon {
    position: fixed;
    bottom: 22px;
    right: 39px;
}

/*-----------------Responsive----------------*/
/*Menú de Navegación*/
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {    

  header {
    background-color: burlywood;
  }

  .acerca-de-mi {
    text-align: center;
  }

  .imagen-acerca-de-mi {
    margin-bottom: 40px;
  }

  .checkbtn {
    display: block;
  }

  #encabezado ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }

  #check:checked ~ ul {
    left: 0%;
    display: block;
  }

  #encabezado nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #encabezado nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ .checkbtn {
    color: #2c3e50;
  }

  /*--------------------Contacto--------------------*/
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }

  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }

  .form-row textarea {
    width: 250px;
    }
  
  .form-row button {
    margin-left: 120px;}

}